* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.wrap {
  margin: 0 auto;
  width: 85%; }

.grid-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.col {
  margin-bottom: 5px;
  margin-left: 5px; }

.col-1 {
  width: 100%; }

.col-2 {
  width: calc(50% - 5px); }

.col-3 {
  width: calc(33.33% - 5px); }

.col-4 {
  width: calc(25% - 5px); }

.col-5 {
  width: calc(20% - 5px); }

.col-6 {
  width: calc(16.667% - 5px); }

.col-7 {
  width: calc(14.28% - 5px); }

.col-8 {
  width: calc(12.5% - 5px); }

.col-9 {
  width: calc(11.11% - 5px); }

.col-10 {
  width: calc(10% - 5px); }

.col-11 {
  width: calc(9.09% - 5px); }

.col-12 {
  width: calc(8.33% - 5px); }

@media (max-width: 460px) {
  .col {
    width: 100%; } }

nav {
  margin-top: 20px;
  width: 100%;
  background-color: #fff; }
  nav .logo {
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -ms-flex-align: center;
    align-items: center; }
  nav .nav-wrap {
    -ms-flex-pack: justify;
    justify-content: space-between; }
    nav .nav-wrap ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style: none;
      height: 50px;
      -ms-flex-align: center;
      align-items: center; }

.fixed-nav {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 70px;
  margin-top: 0px; }

@media screen and (max-width: 1200px) {
  .fixed-nav {
    position: static; } }

header .title {
  display: -ms-flexbox;
  display: flex;
  height: 800px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: column;
  flex-flow: column; }
  header .title h1, header .title h2 {
    margin: 10px 0;
    letter-spacing: 1rem; }
  header .title h1 {
    font-size: 4rem;
    text-transform: uppercase; }
  header .title .sub {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px 0; }

.about {
  text-align: center; }
  .about h3 {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #000; }
  .about h4 {
    margin-bottom: 10px; }

.projects {
  background-color: #d5d5d5;
  padding-top: 10px;
  margin-top: 10px; }
  .projects .projects-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    margin-bottom: 50px; }
    .projects .projects-title ul {
      list-style: none;
      margin-top: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 30%; }
      .projects .projects-title ul li {
        cursor: pointer; }
        .projects .projects-title ul li a {
          color: #000;
          transition: all 0.2s ease-in-out; }
          .projects .projects-title ul li a:hover {
            color: #576fae;
            font-size: 1.1rem; }

.project {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out; }
  .project:hover {
    padding: 20px; }
    .project:hover h2, .project:hover h3 {
      color: #576fae; }
  .project a {
    width: 460px;
    height: 417px;
    position: absolute; }
  .project img {
    width: 100%;
    height: 332px; }
  .project h2 {
    text-transform: uppercase;
    letter-spacing: 2px; }

@media screen and (max-width: 1200px) {
  .projects .projects-title ul {
    width: 100%;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center; } }

.find-us iframe {
  width: 100%; }

footer {
  text-align: center;
  background-color: #d5d5d5; }
  footer .col {
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: column;
    flex-flow: column; }

#gradient {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px; }
