header
  .title
    display: flex
    height: 800px
    align-items: center
    justify-content: center
    flex-flow: column
    h1,h2
      margin: 10px 0
      letter-spacing: 1rem
    h1
      font-size: 4rem
      text-transform: uppercase

    .sub
      border-top: 2px solid #fff
      border-bottom: 2px solid #fff
      padding: 10px 0
